:root{
    --primary-color: #D1241F;
    --secundary-color: #1d1d1b;
    --tertiary-color: #8A8D8F;
    --bg-color: #ffffff;

}

@font-face {
    font-family: 'Circular';
    src: url('../fonts/circular-std-medium-500.ttf');
    
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Circular', sans-serif;
}

nav{
    width: 100%;
    height: 60px;
}
.up-main{
    display: flex;
    width: 100%;
    height: 400px;
}

.up-main--title{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    justify-content: center;
    align-items: center;
    
}

.up-main--title img{
    width: auto;
    height: 250px;
}


.up-main--title h1{
    font-size: 2.5rem;
    font-weight: 400;
    font-family: 'Circular', sans-serif;
}

.grid-right-img{
    width: 40%;
    height: 400px;
}

.grid-right-img img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.down-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
}

.grid-img{
    width: 100%;
    height: 300px;
    
}

.grid-img img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.credit-section{
    display: flex;
    background-color: var(--secundary-color);
    width: 100%;
    height: 600px;

}

.credit-section--title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    font-size: 3.5rem;
    font-weight: 400;
    color: var(--bg-color);
    text-align: center;
}

.credit-section--title p{
    padding: 15px;
    margin-bottom: 20px;
}

.credit-section-img{
    display: flex;
    width: 50%;
    height: auto;
    justify-content: flex-end;
    
}

.credit-section-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.contact-button{
    background-color: var(--primary-color);
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 12px;
    box-shadow: 7px 6px 12px -3px rgba(0,0,0,0.75);
}

.contact-button--link{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 400;
    color: var(--bg-color);

}

.aliance-section{
    display: flex;
    flex-direction: column;
    
}

.aliance-section--partners{
    display: flex;
    justify-content: space-around;
    border-bottom: 5px solid var(--primary-color);
}

.aliance-section div{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 20px;
    
}

.partner-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 200px;
    padding: 20px;
}

.logo{
    width: 150px;
    height: 80px;
    object-fit: contain;
}

.aliance-section--partners{
    display: flex;
}